.card {
  margin-bottom: 10px;
}
.navbar {
  background-color: #ffffff;
  margin-bottom: 15px;
}
.clear {
  clear: both;
}

table tr {
  background-color: #ffffff;
}

table tr:hover {
  background: #eeeeee !important;
}